# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.7/en/server-configuration-defaults.html

[mysqld]
#skip-grant-tables
#
# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
#
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

log-error=/var/log/mysql/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

max_allowed_packet = 256M

bind-address = 0.0.0.0
skip-name-resolve

general_log = off
general_log_file = /var/log/mysql/general.log

slow_query_log = off
slow_query_log_file = /var/log/mysql/slowquery.log
long_query_time = 5

max_connections = 1000

# 防止ibtmp文件过大，占用磁盘
innodb_temp_data_file_path=ibtmp1:50M:autoextend:max:20000M
expire_logs_days=10
max_binlog_size=1GB
binlog_format=row

#兼容老MySQL代码，比如使用空字符串代替NULL插入数据
sql_mode = ""

[mysqldump]
quick
quote-names
max_allowed_packet = 100M
